.swipercal{
    background: url("/static/clabac.jpg") no-repeat;
    background-size:100% 110px;  
    height:110px;  
    .caldiv{
        width: 80px;
        margin-top: 15px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border: 1px solid #fff;
    }
}
.calcli{
    width: 80px;
    margin-top: 15px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border:2px solid rgba(255,255,255,1);
    background: rgba(255,255,255,.7);
}
.imgli{
    .imgul{
        width: 50%;

        li{
            float:left;
            width: 100%;
            height:250px;
            img{
                width: 100%;
            }

        }
    }
}