.dataList{
	background-color: #fff;
    margin-bottom: 15px;
    div{
    	    margin: 0;
    padding: 0;
    border: none;
    a{
    text-decoration: none;
    color: #000;
   
    }
    }
} 

:global(img){
    	width: 100%;
    	height: auto;
    	display: block;
    }