.container {
	margin-bottom: 44px;
}
.header{
	background: #fff;
    height:44px;
    line-height:44px;
    position: relative;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #f5f5f5;
    img{
	display: inline-block;
    width:65px;
    vertical-align: middle
    }
    .search{
   	display: inline-block;
    width: 270px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    background-color: #F5F5F5;
    border-radius:15px;
    margin-left: 7.5px;
    margin-bottom: 2.5px;
    img{
    display: inline-block;
    width:20px;
    vertical-align: middle;
    margin: 0 5px;

    }
    input{
    background-color: #F5F5F5;
    display: inline-block;
    width: 80%;
    height:27px;
    outline: none;
    border:0;
    }
    }
}