*{
	margin:0;
	padding:0;
}
.detail{
	.head{
		width:100%;
		height:60px;
		font-size:18px;
		font-weight: bold;
		text-align:center;
		line-height:60px;
		display:flex;
		div{
			flex:1;
			position:relative;
			a{
				position:absolute;
				width:30px;
				height:30px;
				img{
					display:block;
					width:30px;
					height:30px;				
				}				
			}
			.homeIcon{
				left:10px;
				top:15px;				
			}
			.searchIcon{
				right:10px;
				top:15px;
			}
		}
	}	
	.soloDisplay{
		width:100%;
		// height:80px;
		div{
			padding-left:18px;
			line-height:40px;
		}
		#headProductTitle{
			font-size: 20px;
		}
		span{
			font-size: 20px;
			font-weight:bold;
		}
	}
	#designerBrandDiv{
		width:100%;
		height:100px;	
		background-image: url('/static/designerBackground.png');
		opacity: .8;
		overflow: hidden;
		#brand{
			width:100%;
			height:100%;
			position:relative;
			display:flex;
			#brandCountry{
				position:absolute;
				right:0;
				top:0;
			}
			#brandLogoImg{
				flex:3;
				img{
					width:80px;
					height:80px;
					border-radius: 60px;
					margin: 10px ;	

				}
			}
			.brandInfo{
				flex:7;
				color:white;
				height:100%;

				#brandName{
					width:100%;
					padding:10px 0;
					box-sizing: border-box;
					margin-right: 10px;					
				}
				#brandIntroduction{
					width:100%;
					padding:0;
					box-sizing: border-box;
					margin-right: 10px;	
					height:60px;
					overflow:hidden;
					text-overflow:ellipsis;
					white-space:nowrap;
				}
			}

		}	
	}
	#productIntroduction{		
		.videoCon{
			width:100%;
			// height:100px;
			.productIntroductionVideos{
				background-color: black;
			}
			video{
				width:100%;
				// height:80px;
			}
		}
		.productIntroductionDec{
			width:100%;
			box-sizing: border-box;
			padding:16px;
			color:#888;
			font-size:16px;
			line-height:20px;
		}
		.productIntroductionSubTitle{
			color:black;
			font-size:18px;
			text-align: center;
			padding:10px 0;
		}
	}
	.youMaybeLike{
		width:100%;
		background-color: -pink;
		display:flex;
		flex-wrap: wrap;
		list-style:none;
		li{
			width:47%;
			// height:100px;
			margin:0 auto;
			background-color: -yellow;
			a{
				display:block;
				height:100%;
				font-size:14px;
				text-indent: 8px;
				p{					
					color:#777;
					padding:5px 0;
				}
				span{
					color:black;
					padding-left: 8px;
				}
			}
		}
	}
	.shopbar{
		width:100%;
		height:60px;
		position:fixed;
		left:0;
		bottom:120px;
		
		ul{
			width:100%;
			height:100%;
			display:flex;
			list-style: none;
			font-size: 18px;
			text-align: center;
			line-height: 60px;
			li{
				flex:1;
			}
			li:nth-of-type(3){
				font-size: 20px;
				background-color: yellow;
			}
		}
	}
}


